<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!--加载jdbc的属性文件-->
    <context:property-placeholder location="classpath:jdbc/jdbc.properties"/>

    <!--数据连接池技术：druid-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" destroy-method="close">

        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>

        <!--最大链接数-->
        <property name="maxActive" value="10"/>

    </bean>

    <bean id="SqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--数据连接源-->
        <property name="dataSource" ref="dataSource"/>
        <!--mybatis核心文件-->
        <property name="configLocation" value="classpath:mybatis/mybatis.xml"/>
        <!--别名扫描器-->
        <property name="typeAliasesPackage" value="pojo"/>
    </bean>

    <!--mapper代理-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="mapper"/>
    </bean>
</beans>