<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.UserMapper">
    <!--查找所有信息,id与方法名一致-->
    <select id="findAll" resultType="user">
        select * from sm_user
    </select>
    <!--增加-->
    <insert id="add" >
        insert into sm_user(NAME,PASSWORD) values(#{name},#{password})
    </insert>

    <delete id="delete" >
        delete from sm_user where ID = #{id}
    </delete>

    <update id="edit" >
        update sm_user set NAME = #{name},PASSWORD = #{password} where ID = #{id}
    </update>
    <select id="findById" resultType="user">
        select * from sm_user where Id = #{id}
    </select>
</mapper>